@import "compass/reset"
@import "mixins/all"
@import "variables"

body
  color: white
  font: 18px/1.5em Arial, Helvetica, sans-serif

h2
  font-size: 30px
  font-weight: bold
  line-height: 1.2em
  margin-bottom: 1em

.main
  +fits-viewport
  overflow: hidden

.chapter
  +landscape-swipable

.page
  +fits-viewport
  background-size: cover
  padding-top: 1px // Hack to prevent margin collapse

<% pages.each_pair do |i, chapter| %>
.chapter-<%= i %>
  <% chapter.each_pair do |j, section| %>
  .section-<%= j %>
    <% section.each_pair do |k, page| %>
    .page-<%= k %>
      background-image: image-url('<%= page[:background] %>')

    <% end %>
  <% end %>
<% end %>

@import "widgets/all"

@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-o-viewport      { width: device-width; }
@-ms-viewport     { width: device-width; }
@viewport         { width: device-width; }
