@import "compass/reset"
@import "compass/css3/transition"
@import "compass/typography/text/replacement"

body
  color: white
  font: 24px/1.2em Arial, Helvetica, sans-serif
  width: 768px

.main
  height: 1024px
  width: 768px
  overflow: hidden

.chapter
  +transition(left 0.5s ease-out, top 0.5s ease-out)
  white-space: nowrap
  position: relative
  left: 0
  top: 0

.section
  display: inline-block
  vertical-align: top

.page
  background-size: cover
  height: 1024px
  width: 768px

  .content
    width: 500px
    margin: 0 auto
    padding-top: 70px

<% pages.each_pair do |i, chapter| %>
.chapter-<%= i.sub '.', '-' %>
  <% chapter.each_pair do |j, section| %>
  .section-<%= j %>
    <% section.each_pair do |k, page| %>
    .page-<%= k %>
      +replace-text('<%= page.identifier.sub("/pages/", "").gsub(/\/$/, "") + ".jpg" %>')

    <% end %>
  <% end %>
<% end %>

/* Viewport ----------- */
@-webkit-viewport { width: device-width; }
@-moz-viewport    { width: device-width; }
@-o-viewport      { width: device-width; }
@-ms-viewport     { width: device-width; }
@viewport         { width: device-width; }
